body {
    text-align: center;

    font-family: 'Ubuntu', sans-serif;

    background: rgb(180,135,255);
    background: -moz-linear-gradient(90deg, rgba(180,135,255,1) 0%, rgba(219,197,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(180,135,255,1) 0%, rgba(219,197,255,1) 100%);
    background: linear-gradient(90deg, rgba(180,135,255,1) 0%, rgba(219,197,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b487ff",endColorstr="#dbc5ff",GradientType=1);
}

.f20 {
    font-size: 16px;
}

.staking-list {
    font-size: 25px;
    width: 70%;
    border: 0 solid black;
    border-radius: 30px;
    background-color: white;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    cursor: default;

    border-collapse: separate;
    border-spacing: 15px;

    table-layout: fixed;

    background: rgb(130,206,255);
    background: -moz-linear-gradient(90deg, rgba(130,206,255,1) 0%, rgba(195,231,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(130,206,255,1) 0%, rgba(195,231,255,1) 100%);
    background: linear-gradient(90deg, rgba(130,206,255,1) 0%, rgba(195,231,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82ceff",endColorstr="#c3e7ff",GradientType=1);
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}

.claim {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}

.first-tr {
    pointer-events: none;
}
