body {
    text-align: center;

    overflow: overlay;

    font-family: 'Ubuntu', sans-serif;

    color: #111e26;

    background: rgb(180,135,255);
    background: -moz-linear-gradient(90deg, rgba(180,135,255,1) 0%, rgba(219,197,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(180,135,255,1) 0%, rgba(219,197,255,1) 100%);
    background: linear-gradient(90deg, rgba(180,135,255,1) 0%, rgba(219,197,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b487ff",endColorstr="#dbc5ff",GradientType=1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9352FF;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.wallet {
    position: absolute;
    left: 20px;
    top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;

    background: rgb(182,255,122);
    background: -moz-linear-gradient(90deg, rgba(182,255,122,1) 0%, rgba(220,255,191,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(182,255,122,1) 0%, rgba(220,255,191,1) 100%);
    background: linear-gradient(90deg, rgba(182,255,122,1) 0%, rgba(220,255,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b6ff7a",endColorstr="#dcffbf",GradientType=1);
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 80px;
    }
}
